# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
dash==2.6.2
ipdb
percy==2.0.2
selenium==4.2.0
flake8==5.0.4
dash[testing]
pytest==7.1.3
